<h1>Admin Dashboard</h1>
<ul>
  <li><a href="/admin/users">Manage Users</a></li>
  <li><a href="/admin/roles">Manage Roles</a></li>
  <li><a href="/admin/flights">Manage Flights</a></li>
  <li><a href="/admin/airport-slots">Manage Airport Slots</a></li>
</ul>
