<!DOCTYPE html>
<html>
<head>
  <title>Manager Dashboard</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Manager Dashboard</h1>
  <ul>
    <li><a href="/users">Manage Users</a></li>
    <li><a href="/roles">Manage Roles</a></li>
    <li><a href="/flights">Manage Flights</a></li>
    <li><a href="/airport-slots">Manage Airport Slots</a></li>
    <li><a href="/demand-history">Manage Demand History</a></li>
    <li><a href="/pricing">Manage Pricing</a></li>
    <li><a href="/events">Manage Events</a></li>
    <li><a href="/bulk">Bulk Import Options</a></li>
  </ul>
</body>
</html>
